@use 'theme';

@keyframes show {
    0% {position: relative; top: 20vh}
    100% {position: relative; top: 0;}
}

.expandIcon {
    filter: invert(87%) sepia(1%) saturate(667%) hue-rotate(165deg) brightness(89%) contrast(87%);
}

.iconButton {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.iconButtonDown {
    animation: show 300ms ease-in forwards;
}

.createPostForm {
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createPostFormContainer {
    background-color: rgba(242, 242, 242, 0.9);
    width: 60%;
}

@media only screen and (max-width: 600px) {
    .createPostFormContainer {
        width: inherit;
    }
}

.changeFormVisibilityBar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.createPostInput {
    font-size: 1.05rem;
    outline: none;
    resize: none;
    border: none;
    width: 100%;
    height: 20vh;
    padding: 12px;
    margin: 0px;
}

.createPostInputContainer {
    animation: show 300ms ease-in forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createPostSubmitContainer {
    animation: show 300ms ease-in forwards;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes shadow {
    from {box-shadow: none;}
    to {box-shadow: 0 0 1em .2em rgba(0, 0, 0, 0.3);}
}

.createPostFormHidden {
    animation: shadow 300ms ease 300ms forwards;
}

.createPostSubmit {
    margin: 12px;
    padding: 12px;
    border: none;
    background-color: #fff;
    font-family: var(--font-family);
    font-size: 1.001rem;
}

.createPostSubmit:hover {
    animation: shadow 300ms forwards;
}