@use 'theme';

.createUserFormContainer {
    position: absolute;
    height: 100%;
    width: 100%;
}

.createUserForm {
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}

.createUserFormItem {
    margin: 12px 0;
    width: 35%;
}

@media only screen and (max-width: 1215px) {
    .createUserFormItem {
        width: unset;
        max-width: min-content;
    }
}

.createUserFormInputButton {
    margin: 32px 0;
    align-self: center;
    width: min-content;
}

.createUserFormInputButton input[type="submit"] {
    border: none;
    background-color: theme.$background-color;
}

@keyframes hoverButton {
    from {background-color: theme.$background-color; padding: none;}
    to {background-color: theme.$light-color; padding: 16px;}
}

.createUserFormInputButton input[type="submit"]:hover {
    animation: hoverButton 500ms forwards;
}